<div class="form-container">
  @if (!loading) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>
        Email:
        <input type="email" formControlName="email" required />
        <p class="error" *ngIf="isFieldInvalid('email')">L'email est obligatoire</p>
      </label>
      <label>
        Prénom :
        <input type="text" formControlName="name" required />
        <p class="error" *ngIf="isFieldInvalid('name')">Le nom est obligatoire</p>
      </label>

      <button type="submit" [disabled]="form.invalid">S'enregistrer</button>
    </form>
  } @else {
    <p>Enregistrement en cours</p>
  }
</div>

