<div class="form-container">
  @if (!loading) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="item-container">
        <p class="form-title">Enregistre toi</p>
        <label class="item">
          Email
          <input type="email" formControlName="email" placeholder="Entre ton email"/>
          <p class="error" *ngIf="isFieldInvalid('email')">L'email est obligatoire</p>
        </label>
        <label class="item">
          Prénom
          <input type="text" formControlName="name" placeholder="Entre ton prénom"/>
          <p class="error" *ngIf="isFieldInvalid('name')">Le nom est obligatoire</p>
        </label>
      </div>

      <button type="submit"
              [class.active]="form.valid"
              [disabled]="form.invalid">S'enregistrer
      </button>
    </form>
  } @else {
    <div class="submitting-container">
      <div class="success-text" *ngIf="submitted">
        <p>Super ! 🎉</p>
        <p>Les données ont été envoyés avec succès 🚀</p>
      </div>
      <div class="loading"></div>
    </div>

  }
</div>

