.form-container {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  padding: 2rem;

  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  height: 100%;

  button {
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  input {
    height: 2rem;
    width: 100%;
    padding: .5rem;
    border: 1px #bfbfbf solid;
    border-radius: 0.5rem;
  }
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  gap: 1.5rem;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.error {
  color: red;
  font-size: .8rem;
}

.active {
  background-color: #04a504;
  color: #fff;
}

.loading {
  position: relative;
  border-radius: .5rem;
  padding: 1rem;
  background-color: #f3f3f3;
  overflow: hidden;

  &::before {
    content: "Chargement...";

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    background-color: red;
    border-radius: .5rem;
    font-weight: bold;
    color: #fff;

    animation: loadingBackground 1.5s forwards ease-in-out;
  }
}

@media (min-width: 768px) {
  .form-container {
    width: 50%;
  }
}

@keyframes loadingBackground {
  0% {
    background-color: #fff;
    width: 0;
  }

  100% {
    background-color: #2e6bf6;
    width: 100%;
  }
}
