@import "features/dashboard/styles/dashboard-mixin";

.item-container {
  @include dashboard-item;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-weight: bold;
}

.compass {
  animation: spin 60s infinite ease-out;
}

.mail-bouncing:hover {
  cursor: pointer;

  :first-child {
    animation: bounce 2s infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-10px);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
