@let selectedType = type();

@switch (selectedType) {
  @case ('text') {
    <div
      class="item-container"
      [style.color]="textColor()"
      [style.background-color]="backgroundColor()">
      <si-custom-svg-icon [svgPath]="svgPath()!" [svgSize]="svgSize()" />
      <p>{{ text() }}</p>
    </div>
  }

  @case ('compass') {
    <div class="item-container" [style.background-color]="backgroundColor()">
      <img src="/images/boussole.png" width="200" height="200" class="compass" />
    </div>
  }

  @case ('form') {
    <div class="item-container mail-bouncing"
         [style.background-color]="backgroundColor()" (click)="updateActiveForm()">
      <si-custom-svg-icon svgPath="mail" [svgSize]="64" />
    </div>
  }
}
