@import "features/dashboard/styles/dashboard-mixin";

.item-container {
  @include dashboard-item;
  justify-content: flex-end;
  align-items: flex-start;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

.arrow-up {
  color: #fff;
}

.discover-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

hr {
  width: 100%;
  border: .5px solid #fff;
}
