<div class="main-container">
  <div class="item item-1">
    <si-dashboard-item-picture title="Monica" picture="/images/image-exemple.jpg"/>
  </div>
  <div class="item item-2">
    <si-dashboard-item type="text" text="Female" backgroundColor="green" svgPath="gender" [svgSize]="48"/>
  </div>
  <div class="item item-3">
    <si-dashboard-item type="form" text="Mexico" backgroundColor="orange" svgPath="city" [svgSize]="48"/>
  </div>
  <div class="item item-4">
    <si-dashboard-item type="compass" />
  </div>
  <div class="item item-5">
    <si-dashboard-item-picture picture="/images/image-exemple.jpg"/>
  </div>
  <div class="item item-6">
    <si-embed-google-maps
      street="Avenue du Maréchal de Luxembourg"
      [num]="36"
      city="Meaux" />
  </div>
</div>
